<a href="/">Voltar para Home</a>
<hr>
<h1>Clubes</h1>
<hr>
<form action="/clube/save" method="post">
    <input type="text" name="nome" placeholder="Digite o nome do clube" />
    <br>
    <label>Status: </label>
    <input type="checkbox" name="status" checked />
    <br>
    <br>
    <input type="submit" value="Cadastrar" />
</form>