<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <form action="/usuario/save" method="POST" >
        <label>Nome:</label>
        <input type="text" name="_nome" placeholder="Digite seu nome" required/>
        <br>
        <label>E-mail:</label>
        <input type="email" name="_email" placeholder="Digite seu e-mail"/>
        <br>
        <br>
        <input type="submit" value="Cadastrar" />
    </form>
</body>
</html>