<h1>Criar Tarefas</h1>

<form action="/tarefas/save" method="post">
    <input type="text" name="titulo" placeholder="Digite o título da tarefa" />
    <br>
    <textarea name="descricao" placeholder="Digite aqui a descrição da tarefa" cols="30" rows="5"></textarea>
    <br>
    <input type="submit" value="Cadastrar Tarefa">
</form>