<form action="/login" method="post">
    <label>E-mail: </label>
    <input type="text" name="email" placeholder="Digite seu e-mail..." />
    <br>
    <label>Senha: </label>
    <input type="password" name="senha" placeholder="Digite sua senha..." />
    <br>
    <input type="submit" value="Entrar">
</form>