<form action="/register" method="post">
    <label>Nome: </label>
    <input type="text" name="nome" placeholder="Digite seu nome..." />
    <br>
    <label>E-mail: </label>
    <input type="text" name="email" placeholder="Digite seu e-mail..." />
    <br>
    <label>Senha: </label>
    <input type="password" name="senha" placeholder="Digite sua senha..." />
    <br>
    <label>Confirme sua senha: </label>
    <input type="password" name="senhaConfirmar" placeholder="Confirme sua senha..." />
    <br>
    <input type="submit" value="Cadastrar">
</form>