
<form action="/post/create" method="post">
  <div class="form-group">
    <label>Titulo</label>
    <input type="text" name="titulo" class="form-control" placeholder="Digite o titulo da sua postagem">
  </div>
  <div class="form-group">
    <label>Descrição</label>
    <textarea class="form-control" name="descricao" rows="3"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Cadastrar">
  </div>
</form>