<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aplicação utilizando Handlebars</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </header>
        {{{body}}}
    </body>
</html>